* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
    color: white;
    font-family: Helvetica, Arial;
    text-decoration: none;
    
    font-size: 1rem;
}

:root {
    background-color: grey;
}